<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  {{> main}}
  <div class="main-body"></div>
  <div class="main-body-overlay"></div>
  <div class="text-content">
    <div class="become">We connect <b>influencers</b> with <b>brands</b>.</div>
    <div class="join">Sign up below if you're an <b>influencer</b> or a</div>
    <div class="join-3"><b>brand</b> looking to work with influencers!</div>
    <div id="login-container">
      <a class="login-btn" id="google" href="/auth/google">Signup with Google</a>
      {{!-- <a class="login-btn" id="linkedin" href="/auth/linkedin">Signup with LinkedIn</a> --}}
      <a class="login-btn" id="facebook" href="/auth/facebook">Signup with Facebook</a>
  </div>
</body>
