<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {{> main}}
    <div class="main-body-3"></div>
    <div class="main-body-overlay"></div>
    <div class="thankyou">Thank you for signing up!</div>
    <div class="thankyou-2">Your information has been saved, and we will be in touch with you shortly when we launch!</div>
    <div class="thankyou-2">Sincerely,</div>
    <div class="thankyou-2">BEMYMENTOR</div>
</body>
